/* client/src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-right: 20px;
  width: 80%;
  max-width: 600px;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #3399ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #237acd;
}

h3 {
  margin-top: 20px;
}

.messages {
  color: green;
}

.notification {
  color: red;
}

.room-id-display {
  position: fixed; /* Position it relative to the viewport */
  top: 10px; /* Adjust the distance from the top */
  right: 10px; /* Adjust the distance from the right */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Light background for better visibility */
  color: red;
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
  z-index: 1000; /* Ensure it appears above other elements */
}
